.box{
  padding: 0; 
  margin: 20px;   
  box-sizing: border-box;
  font-size: 100%;
  background-color:var(--primary);
  text-align: center;
  width: 28%;
border: 2px solid black;  
}

  #dessert {
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .main{
    background-color: var(--secondary);
  }

:root{
  --pink:#FFC0CB;
  --blue:#0000ff;
  --white:#FFFFFF;
  --black:#000000;
  --light-pink:#FFB6C1;
  --deep-pink:#FF1493;
  --hot-pink:#FF69B4;

--primary: var(--pink);
--secondary: var(--light-pink);
}

.dark{
  --primary: var(--hot-pink);
  --secondary: var(--deep-pink);
}
.light{
  --primary: var(--light-pink);
  --secondary: var(--pink);
}


.parent{
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



.parent{
  height: auto;
}
.child{
  border: 1px solid pink;
  width: 28%;
  text-align: center;
  
  
}
.px-size{
  font-size: 20px;
}
.rem-size{
  font-size: 2rem;
}
.em-size{
  font-size: 5em;
}



  
 
  



.w-class {
  height: 250px;
  width: 250px;
  border: solid black 3px;
  box-shadow: 5px 5px 5px 5px;
}